h1{
    font-size: 150%;
}

header{
    background: #9e9e9e9e;
    text-align: center;
}

h1{
    color: #501ee9d4;
}

nav{
    font-variant: small-caps;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    color: #501ee9d4;
    background: #9e9e9e9e;
}

details{
    font-style: italic;
}

summary{
    font-style: normal;
}

footer{
    background: #9e9e9e9e;
}
