body{
    background-color: #b3b3b3;
    font-size: 125%;
    margin: 4%;
}

header, footer{
	background: #666666;
	background: -moz-linear-gradient(top, #666666 0%, #00b7ea 100%);
	background: -webkit-linear-gradient(#666666 0%, #00b7ea 100%);
	background: -o-linear-gradient(#666666 0%, #00b7ea 100%);
	background: linear-gradient(#666666 0%, #00b7ea 100%); 

}

header{
    text-align: center;
}

h1{
    color: #fff;
}

nav{
    font-variant: small-caps;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 10px;
}

h2{
    color: #666666;
	background: #00b7ea;
}

details{
    font-style: italic;
}

summary{
    font-style: normal;
}

footer{
    clear: both;
}

nav a{
    background: #fff;
    font-weight: lighter;
    display: inline-block;
    width: 22%;
    padding: 2px;
    text-decoration: none;
}

/* a:visited{
    color: #00b7ea;
    background: #22223b;
}

a:hover{
    color: red;
    background: royalblue;
} */

.half{
   width: 45%;
   display: inline-block;
   float: left;
   margin-right: 2%;
}

.whole{
    clear: both;
}

img{
    width: 75px;
}

